.flex {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.label {
    font-size: large;
    margin: 15px;
}

.btn-style {
    font-size: large;
    font-weight: 500;
}