.input-values {
    background: #ebebebd5;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
    align-items: center;
}

.btn-style {
    font-size: large;
    font-weight: 500;
}

.label {
    font-size: large;
    margin: 15px;
}

.flex {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}